In [37]:
word = 'bottles'
for num in range(50, 0 , -1):
    print(num , 'number of', word , 'on the wall')
    print(num, 'number of', word)
    print('Take one bottle down')
    if num == 1:
        print('No more bottles on the wall.')
    else:
        new_num = num-1
        if new_num == 1:
            word = 'bottle'
        print(num-1, 'number of', word,'left.')
    print()

50 number of bottles on the wall
50 number of bottles
Take one bottle down
49 number of bottles left.

49 number of bottles on the wall
49 number of bottles
Take one bottle down
48 number of bottles left.

48 number of bottles on the wall
48 number of bottles
Take one bottle down
47 number of bottles left.

47 number of bottles on the wall
47 number of bottles
Take one bottle down
46 number of bottles left.

46 number of bottles on the wall
46 number of bottles
Take one bottle down
45 number of bottles left.

45 number of bottles on the wall
45 number of bottles
Take one bottle down
44 number of bottles left.

44 number of bottles on the wall
44 number of bottles
Take one bottle down
43 number of bottles left.

43 number of bottles on the wall
43 number of bottles
Take one bottle down
42 number of bottles left.

42 number of bottles on the wall
42 number of bottles
Take one bottle down
41 number of bottles left.

41 number of bottles on the wall
41 number of bottles
Take one bottle down
40 number of bottles left.

40 number of bottles on the wall
40 number of bottles
Take one bottle down
39 number of bottles left.

39 number of bottles on the wall
39 number of bottles
Take one bottle down
38 number of bottles left.

38 number of bottles on the wall
38 number of bottles
Take one bottle down
37 number of bottles left.

37 number of bottles on the wall
37 number of bottles
Take one bottle down
36 number of bottles left.

36 number of bottles on the wall
36 number of bottles
Take one bottle down
35 number of bottles left.

35 number of bottles on the wall
35 number of bottles
Take one bottle down
34 number of bottles left.

34 number of bottles on the wall
34 number of bottles
Take one bottle down
33 number of bottles left.

33 number of bottles on the wall
33 number of bottles
Take one bottle down
32 number of bottles left.

32 number of bottles on the wall
32 number of bottles
Take one bottle down
31 number of bottles left.

31 number of bottles on the wall
31 number of bottles
Take one bottle down
30 number of bottles left.

30 number of bottles on the wall
30 number of bottles
Take one bottle down
29 number of bottles left.

29 number of bottles on the wall
29 number of bottles
Take one bottle down
28 number of bottles left.

28 number of bottles on the wall
28 number of bottles
Take one bottle down
27 number of bottles left.

27 number of bottles on the wall
27 number of bottles
Take one bottle down
26 number of bottles left.

26 number of bottles on the wall
26 number of bottles
Take one bottle down
25 number of bottles left.

25 number of bottles on the wall
25 number of bottles
Take one bottle down
24 number of bottles left.

24 number of bottles on the wall
24 number of bottles
Take one bottle down
23 number of bottles left.

23 number of bottles on the wall
23 number of bottles
Take one bottle down
22 number of bottles left.

22 number of bottles on the wall
22 number of bottles
Take one bottle down
21 number of bottles left.

21 number of bottles on the wall
21 number of bottles
Take one bottle down
20 number of bottles left.

20 number of bottles on the wall
20 number of bottles
Take one bottle down
19 number of bottles left.

19 number of bottles on the wall
19 number of bottles
Take one bottle down
18 number of bottles left.

18 number of bottles on the wall
18 number of bottles
Take one bottle down
17 number of bottles left.

17 number of bottles on the wall
17 number of bottles
Take one bottle down
16 number of bottles left.

16 number of bottles on the wall
16 number of bottles
Take one bottle down
15 number of bottles left.

15 number of bottles on the wall
15 number of bottles
Take one bottle down
14 number of bottles left.

14 number of bottles on the wall
14 number of bottles
Take one bottle down
13 number of bottles left.

13 number of bottles on the wall
13 number of bottles
Take one bottle down
12 number of bottles left.

12 number of bottles on the wall
12 number of bottles
Take one bottle down
11 number of bottles left.

11 number of bottles on the wall
11 number of bottles
Take one bottle down
10 number of bottles left.

10 number of bottles on the wall
10 number of bottles
Take one bottle down
9 number of bottles left.

9 number of bottles on the wall
9 number of bottles
Take one bottle down
8 number of bottles left.

8 number of bottles on the wall
8 number of bottles
Take one bottle down
7 number of bottles left.

7 number of bottles on the wall
7 number of bottles
Take one bottle down
6 number of bottles left.

6 number of bottles on the wall
6 number of bottles
Take one bottle down
5 number of bottles left.

5 number of bottles on the wall
5 number of bottles
Take one bottle down
4 number of bottles left.

4 number of bottles on the wall
4 number of bottles
Take one bottle down
3 number of bottles left.

3 number of bottles on the wall
3 number of bottles
Take one bottle down
2 number of bottles left.

2 number of bottles on the wall
2 number of bottles
Take one bottle down
1 number of bottle left.

1 number of bottle on the wall
1 number of bottle
Take one bottle down
No more bottles on the wall.

In [1]:
b = int(input('How many numbers'))
sum = 0
for num in range(b):
    a = float(input('Enter the numbers: '))
    sum = sum+a
avg = sum/b
print('Average of the numbers is', avg)

How many numbers5
Enter the numbers: 2
Enter the numbers: 3
Enter the numbers: 4
Enter the numbers: 5
Enter the numbers: 6
Average of the numbers is 4.0

In [2]:
a = float(input('Enter the radius of the circle: '))
b = float(3.14*a*a)
print('The area of the circle is', b)

Enter the radius of the circle: 3
The area of the circle is 28.259999999999998

In [10]:
a = float(input('Enter the first number:'))
b = float(input('Enter the secomd number:'))
c = float(a-b)
print('The difference between the two numbers is: ', c)

Enter the first number:20
Enter the secomd number:17
The difference between the two numbers is:  3.0

In [16]:
a = float(input('Enter the first number: '))
b = float(input('Enter the secomd number:'))
c = float(input('Enter the third number:'))
if a == b == c:
    sum = float((a+b+c)*3)
else:
    sum = float(a+b+c)
print(sum)

Enter the first number: 2
Enter the secomd number:2
Enter the third number:2
18.0

In [18]:
a = float(input('Enter the first number: '))
b = float(input('Enter the second number:'))
c = float(a*a + b*b + 2*a*b)
print(c)

Enter the first number: 3
Enter the second number:4
49.0

In [16]:
a = (2,2,4,5)
b = list(a)
b.insert(1,2022)
a_new= tuple(b)
a_new

(2, 2022, 2, 4, 5)

In [ ]:
#new dir path use raw string r or forward slash \\

In [27]:
import os
os.getcwd()
nwd = r'C:\Users\ankit\Documents\Ankita'
os.chdir(nwd)
os.getcwd()

'C:\\Users\\ankit\\Documents\\Ankita'

In [47]:
tf = open('ankita.txt','r+')
print(tf.read())
tf.write('This text file has been read once.\n')
tf.close()

My name is Ankita!This text file has been read once.
This text file has been read once.
This text file has been read once.
This text file has been read once.

###

In [48]:
import random as rd
rn2 = round(rd.random(),2)
rn2

0.95

In [55]:
import random 
a = float(random.randint(0,100))
b = round(a, 1)
b

73.0

In [58]:
mylist = [1,0,1,1,0,2]
newlist= []
for n in mylist:
    if n == 1:
        a= 'Male'
        newlist.append(a)
    elif n == 2:
        c= 'Other gender'
        newlist.append(c)
    else:
        b = 'Female'
        newlist.append(b)
print(newlist)

['Male', 'Female', 'Male', 'Male', 'Female', 'Other gender']

In [67]:
mylist = [1,0,1,1,0,2]

list[[1, 0, 1, 1, 0, 2]]

In [9]:
def odd_even():
    a = float(input('Enter a number: '))
    if a % 2 == 0:
        print('The number is even.')
    else:
        print('The number is odd.')
      
odd_even()

Enter a number: 21
The number is odd.

In [20]:
list = [1, 'a', 3, 'c', 4 , 'd', 5 , 'e']
num = []
alpha_list=[]
for n in (list):
    if type(n) == int or type(n)== float:
        num.append(n)
    else:
        alpha_list.extend(n)
print(num)
print(alpha_list)

[1, 3, 4, 5]
['a', 'c', 'd', 'e']

In [5]:
a = 'ankita'
b = list(a)
b
''.join(b)

'ankita'

In [23]:
def count_down():
    a = int(input('Enter a number: '))
    n = range(a , -1 ,-1)
    b = list(n)
    print(b)
        
        
count_down()

Enter a number: 20
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [19]:
a = range (10, 0, -1)
list(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
def power():
    a= int(input('Enter the base number: '))
    b = int(input('Enter the power number: '))
    c = a**b
    print (c)
    
power()

Enter the base number: 2
Enter the power number: 3
8

In [15]:
def mult():
    a = [1,2,3]
    b = [4,5,6]
    c = []
    for i in a:
        for j in b:
            z = i*j
            c.append(z)
    return(c)
            
mult()

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [46]:
a = [21, 2, 22, 34, 51]
b = []
c = []
for i in a:
    if i%2 == 0:
        b.append(i)
    else:
        c.append(i)
print(b)
print(c)

[2, 22, 34]
[21, 51]

In [3]:
s0 = 'python'
s0[::-1]
s1 = 'My name is Ankita Singh'
list(s1.split())

['My', 'name', 'is', 'Ankita', 'Singh']